<div class="post-meta">
  <strong>
    <span>Posted on</span>
    <time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
    {{ if ne .Site.Params.display.taxonomyMeta false }}
      {{ with .GetTerms "categories" }}<span>in</span>{{ end }}
      {{ range $key, $value := .GetTerms "categories" -}}
        {{- if $key }}, {{ end }}
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{- end }}
    {{ end }}
  </strong>
  {{ if and .IsPage (ne .Date .Lastmod) }}
    <div>
      Last updated on
      <time>{{ .Lastmod.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
    </div>
  {{ end }}
  {{ if ne .Site.Params.display.taxonomyMeta false }}
    {{ with .GetTerms "tags" }}
      <div>
        <span>Tags:</span>
        {{ range $key, $value := . }}
          {{- if $key }}, {{ end }}
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{- end }}
      </div>
    {{ end }}
    {{ with .GetTerms "series" }}
      <div>
        <span>Series:</span>
        {{ range $key, $value := . }}
          {{- if $key }}, {{ end }}
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{- end }}
      </div>
    {{ end }}
  {{ end }}
</div>
